
.activeComments {
    margin: 4px;
    float: left;
    background-color: green;
    width: 125px;
    min-height: 100px;
    cursor: pointer
}

.sectionContainer {
    background-color: lightgrey;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}

.pStyle {
    display: inline;
    margin: 8px;
    padding: 0;
}

.pName {
    display: inline;
    font-size: 18px;
    color: darkblue;
}

.profilePicture {
    float: left;
    margin: 5px;
    width: 40px;
    height: 40px;
}

hr {
    margin: 0;
    padding: 0;
}