
.activeComments {
    margin: 4px;
    float: left;
    background-color: green;
    width: 125px;
    min-height: 100px;
    cursor: pointer
}

.inActiveComments {
    margin: auto;
    background-color: grey;
    width: 150px;
    min-height: 125px;
}

.pStyle {
    margin: 0;
    padding: 0;
}