
.activeComments {
    margin: 4px;
    float: left;
    background-color: green;
    width: 125px;
    min-height: 100px;
    cursor: pointer
}

.inActiveComments {
    background-color: lightgrey;
    width: 100%;
    min-height: 100%;
}

.pStyle {
    display: inline;
    margin: 8px;
    padding: 0;
}

.pName {
    display: inline;
    font-size: 20px;
    color: darkblue;
}

hr {
    margin: 0;
    padding: 0;
}