

.gameOverContainer {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
    transition: background-color 3s;
}

.centerDiv {
	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 135px;
}

.centerDiv > div {
    position: relative;
    left: 0;
    top: 0;
}

.retryStyle {
    bottom: 5%;
    height: 80px;
    width: 200px;
    color: white;
    background-color: #0000FF;
    font-family: Kalam;
    font-size: 30px;
}

.retryStyle:hover {
	background-color: #4444FF;
	cursor: pointer;
}

.gameOverText {
    margin-top: 10%;
    font-size: 76px;
    text-align: center;
}

.gameOverMessage {
    position: relative;
    width: 600px;
    font-size: 20px;
}
