
.tableStyle {
    margin: 0;
    padding: 0;
    display: block;
}

.newsFlowOuter {
    position: absolute;
    margin: auto;
    top: 12.5%;
    bottom: 5%;
    left: 12.5%;
    right: 12.5%;
    width: 410px;
    overflow: hidden;
    border-radius: 4px;
}

.newsFlowInner {
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 5%;
    width: 450px;
    overflow-y: scroll;
}

.postContainer {
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.postContainer:hover {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

table {
    border-collapse: collapse;
}

img {
    border-radius: 6px;
}