
.tableStyle {
    top: 0;
    margin: 0;
    padding: 0;
    display: block;
}

.newsFlowOuter {
    position: absolute;
    margin: auto;
    top: 22.5%;
    bottom: 5%;
    left: 12.5%;
    right: 12.5%;
    width: 400px;
    overflow: hidden;
    border-radius: 4px;
}

.newsFlowInner {
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 5%;
    width: 450px;
    overflow-y: scroll;
}

.postContainer {
    padding: 0;
    margin: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.88);
}

.ruleBox {
    position: absolute;
    margin: auto;
    background-color: white;
    top: 22.5%;
    bottom: 9%;
    left: 72.5%;
    right: 7%;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 4px;
}

.ruleBox > p {
    margin-left: 10px;
    margin-right: 8px;
}

table {
    border-collapse: collapse;
}

img {
    border-radius: 6px;
}

.blueBar
{
    background-color: #0000FF;
    position: absolute;
    width: 100%;
    top: 10%;
    height: 9%;
    font-size: 40px;
}

.nextPostContainer {
    position: absolute;
    top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
}

.getNextPost {
    position: fixed;
    z-index: 1;
    background-color: #156abb;
    width: 401px;
    height: 60px;
    border-radius: 2px;
    padding: 0;
    box-shadow: 1px 4px 5px 1px #888888
}

.getNextPost > p {
    margin-left: 30px;
    margin-top: 15px;
    color: white;
    font-weight: bold;
    transition: font-size .5s;
    border-radius: 3px;
    float: left;
}

.getNextPost > div {
    background-color: #f0f0f0;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 16px;
    cursor: pointer;
    border-top: 1px solid white;
    border-bottom: 3px solid #696969;
    border-right: 1px solid #696969;
    border-left: 1px solid #696969;
    border-radius: 2px;
    box-shadow: 1px 2px 6px #565656
}

.getNextPost > div:hover {
    font-size: 17px;
    background-color: white;
    transition: font-size .3s, background-color .3s;
}

.getNextPost > div:active {
    border: none;
}

.getNextPost > div > p {
    margin-top: 2px;
    text-align: center;
    font-weight: bold;
    color: #0d0d0d;
}


.helpButtonContainer {
    position: absolute;
    display: flex;
    align-items: center;
    top:0;
    right: 0;
    height: 100%;
    width: 50px;
}

.helpButton {
    background-color: white;
    cursor: pointer;
    font-size: 22px;
    color: blue;
    position: relative;
    height: 40px;
    width: 40px;
    right: 0;
    top: 0;
    border: 1px solid grey;
    border-radius: 50%;
}

.helpButton > p {
    text-align: center;
    font-weight: bold;
}
.helpButton:hover {
    font-size: 30px;
    background-color: blue;
    color: white;
    border: none;
}

.trollHQ {
    font-weight: bold;
    text-align: center;
}
