
.tableStyle {
    margin: 0;
    padding: 0;
    display: block;
}

.newsFlowOuter {
    position: absolute;
    margin: auto;
    top: 22.5%;
    bottom: 5%;
    left: 12.5%;
    right: 12.5%;
    width: 400px;
    overflow: hidden;
    border-radius: 4px;
}

.newsFlowInner {
    background-color: white;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 5%;
    width: 450px;
    overflow-y: scroll;
}

.postContainer {
    padding: 0;
    margin: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.88);
}

.ruleBox {
    position: absolute;
    margin: auto;
    background-color: white;
    top: 22.5%;
    bottom: 9%;
    left: 72.5%;
    right: 7.5%;
    overflow: hidden;
    border-radius: 4px;
}

table {
    border-collapse: collapse;
}

img {
    border-radius: 6px;
}

.blueBar
{
    background-color: #0000FF;
    position: absolute;
    width: 100%;
    top: 10%;
    height: 9%;
    font-size: 40px;
}

.getNextPost {
    cursor: pointer;
    position: fixed;
    left: 46%;
    z-index: 1;
    background-color: blue;
    width: 150px;
    height: 24px;
    border-radius: 2px;
    padding: 0;
    box-shadow: 1px 2px 6px #888888
}

.getNextPost:hover {
    background-color: rgb(100,100,255);
    transition: background-color .2s;
}

.getNextPost > p {
    color: white;
    font-weight: bold;
    text-align: center;
    transition: font-size .5s;
}