
.mainWindowPost {
	width: 400px;
	background-color: white;
}
td {
	padding: 5px;
}
.userBar {

}
.userFaceContainer{
	width: 50px;
	height:50px;
}
.userFace {
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.userName {
	font-size: xx-large;
	font-weight: bold;
}

.likeButton {
	/*display: inline;*/
	width: 250px;
	float: center;
	font-weight: bold;
}

.likeButton:hover{
	text-decoration: underline;
}

.commentButton {
	/*display: inline;*/
	float: center;
	font-weight: bold;
}

.commentButton:hover {
	text-decoration: underline;
}

.postText {
	margin: 10px;
}

.likeSymbole{
	padding-left: 10px;
	width: 25px;
	overflow: hidden;
}


/* On all p? should we make specific?*/
p{
}