
.tutorialDiv
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:80%;
}


.anonymousPicture
{
	display: flex;
	flex-direction: column-reverse;
    position: relative;
    top: 20%;
    width: 800px;
    height: 400px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid black;
}

#first {
	background-color: white;
}

#second {
	background: url("../img/tutorial_3.PNG") no-repeat center top;
	background-color: white;
  	background-size: 90% 82%;
}

#third {
	background: url("../img/tutorial_2.png") no-repeat;
	background-color: white;
  	background-size: 100% 82%;
}

.youKnowStuff
{
    position: relative;
    width: 50%;
}

.tutorialPic {
	width: 100%;
	height: 100%;
	border-radius: 6px;
}

.pageButton {
	margin-left: 100px;
	margin-right: 100px;
    height: 70px;
    width: 200px;
    color: white;
    background-color: #0000FF;
    font-family: Kalam;
    font-size: 30px;
}

.pageButton:hover {
	background-color: #4444FF;
	cursor: pointer;
}

.navigationBar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100px;
	width: 100%;
}

.introTextBG {
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
	height: 100%;
	width: 100%;
}